.header-app {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.header-app > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
}
.header-app > ul > li {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #46B8B0;
    min-width: 200px;
    padding: 12px;
    border-radius: 14px;
    overflow: hidden;
    font-size: 14px;
    text
}
.header-app ul li .icon-card {
    background: #2D6964;
    padding: 10px;
    border-radius: 12px
}
.header-app ul li .content-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    & .quantity {
        font-weight: bold;
        font-size: 18px;
    }
}
.info-money {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    background: #fff;
    padding: 12px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
}
.info-money .total-money-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: absolute;
    top: 12px;
    left: 10px;
    & .total-recaudar{
        color: red;
    }
    & .total-recaudado {
        color: green;
    }
}